<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>
  <script src="/js/Proveedor.js"></script>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/administrador/dashboard.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="grid-container">

    <!-- Header -->
    <header class="header">
      <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
      </div>
      <div class="header-left">
        <span class="material-icons-outlined">search</span>
        <input type="search" class="search-theme">
      </div>
      <div class="header-right">
        <span class="material-icons-outlined">notifications</span>
        <span class="material-icons-outlined">email</span>
        <span class="material-icons-outlined">account_circle</span>
      </div>
    </header>
    <!-- End Header -->

    <!-- Sidebar -->
    <aside id="sidebar">
      <div class="sidebar-title">
        <div class="sidebar-brand">
            <span>Digilist</span>
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
      </div>

      <ul class="sidebar-list">
        <li class="sidebar-list-item">
          <a href="dashboard.html">
            <span>Panel <A>dmin</A></span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="#">
            <span>Proveedor</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="addProductos.html">
            <span>Productos</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="addAutomovil.html">
            <span>Automovil</span>
          </a>
        </li>
        <!-- AGREGAR MAS SEGÙN SEAN REQUERIDOS -->
      </ul>
    </aside>
    <!-- End Sidebar -->

    <div class="container-fluid">
      <div class="col">
          <div class="row">
              <form action="">
                  <div class="form-group">

                      <label for="nombreProveedor">Nombre Proveedor</label>
                      <input type="text" class="form-control" id="nombreProveedor" name="nombreProveedor">

                      <button type="button" class="btn btn-primary">Agregar</button>

                  </div>
              </form>
          </div>

          <div class="row">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">id</th>
                          <th scope="col">Nombre Proveedor</th>
                          <th scope="col">Fecha de registro</th>
                          <th scope="col">Put</th>
                          <th scope="col">Delete</th>
                      </tr>
                  </thead>
                  <tbody id="tbody">

                  </tbody>
              </table>
          </div>

      </div>
  </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
</body>

</html>