<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sesiones.css">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <div class="contenedor-form">
        <form action="/digilist/recuperarcontra">
            <div class="header">
                <h2>Cambiar contraseña</h2>
            </div>
            <div class="fila">
                <label for="">Contraseña nueva</label>
                <input type="password" required>
            </div>
            <div class="fila">
                <label for="">Confirmar contraseña</label>
                <input type="password" required>
            </div>
            <input type="submit" onclick="alert('Se ha restablecido su contraseña, regrese al inicio.')" value="Confirmar" class="btn">
            <hr>
        </form>
</body>
</html>