<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/sesiones.css">
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="contenedor-form">
        <form action="/html/sesiones/olvido_contra.html">
            <div class="header">
                <h2>Recuperar contraseña</h2>
            </div>
            <div class="fila">
                <label for="">Correo electronico</label>
                <input type="email" required>
            </div>
            <input type="submit" onclick="alert('Se le redigira a otra ventana para la recuperacion de su contraseña, por favor espere...')" value="Recuperar" class="btn">
            <hr>
        </form>
</body>
</html>