<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <span>Digilist</span>
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a href="#">
                <span>Panel <A>dmin</A></span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="../dashboard/proveedor">
                <span>Proveedor</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="../dashboard/productos">
                <span>Productos</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="../dashboard/automovil">
                <span>Automovil</span>
            </a>
        </li>
        <!-- AGREGAR MAS SEGÙN SEAN REQUERIDOS -->
    </ul>
</aside>