<!-- sidebar -->
<aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span> DIGILIST REFACCIONES
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="/digilist/dashboard">
          <span class="material-icons-outlined">dashboard</span> Panel admin
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/proveedor">
          <span class="material-icons-outlined">group</span> Proveedores
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/productos">
          <span class="material-icons-outlined">fact_check</span> Productos
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/usuarios">
          <span class="material-icons-outlined">person</span> Administradores
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/entradas">
          <span class="material-icons-outlined">receipt_long</span> Entradas
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/envios">
          <span class="material-icons-outlined">local_shipping</span> Envios
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/modelo">
          <span class="material-icons-outlined">note_alt</span> Modelo
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/anio">
          <span class="material-icons-outlined">tag</span> Año
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/marca">
          <span class="material-icons-outlined">sell</span> Marca
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/digilist/eliminados">
          <span class="material-icons-outlined">delete</span>Eliminados
        </a>
      </li>
    </ul>
  </aside>
<!-- fin sidebar -->