<!-- sidebar -->
<aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span> DIGILIST REFACCIONES
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="../html/dashboard.html">
          <span class="material-icons-outlined">dashboard</span> Panel admin
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/automovil.html">
          <span class="material-icons-outlined">minor_crash</span> Automoviles
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/provedor.html">
          <span class="material-icons-outlined">group</span> Proveedores
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/productos.html">
          <span class="material-icons-outlined">fact_check</span> Productos
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/usuarios.html">
          <span class="material-icons-outlined">person</span> Usuarios
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/entradas.html">
          <span class="material-icons-outlined">receipt_long</span> Entradas
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/envios.html">
          <span class="material-icons-outlined">local_shipping</span> Envios
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/recibos.html">
          <span class="material-icons-outlined">receipt</span> Recibos
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/detalleventa.html">
          <span class="material-icons-outlined">shopping_cart</span> Detalles Venta 
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/modelo.html">
          <span class="material-icons-outlined">note_alt</span> Modelo
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/year.html">
          <span class="material-icons-outlined">tag</span> Año
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/marca.html">
          <span class="material-icons-outlined">sell</span> Marca
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="../html/ventas.html">
          <span class="material-icons-outlined">monetization_on</span> Venta
        </a>
      </li>
    </ul>
  </aside>
<!-- fin sidebar -->