body {
    margin: 0px;
/*     background-color: #F4EDED; */
} 
.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
nav {
    height: 150px;
}
.nav-item {
    background-color: rgb(243, 158, 30);
    padding: 4px;
    margin: 10px;
    border-radius: 5px;
}
.container-color {
    background-color: rgb(243, 158, 30);
    height: 30px;
}
.product-container{
    margin : 15px;
    padding: 2px 16px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.product-container:hover{
    box-shadow: 3px 7px 8px 3px rgba(0,0,0,0.3);
}
.product-container img {
    width: 200px;
    border-radius: 10px;
}
.product-container button {
   opacity: 80%;
   border-radius: 3px;
   margin: 5px;
   padding: 5px;
   font-weight: bolder;
   background-color: rgb(243, 158, 30);
}
.product-container h1 {
    margin-bottom:0px;
    margin-left: 20px;
}
.button-add {
    transition-duration: 0.4s;
    border:none;
    font-size: 16px;
    text-align: center;
}
.button-add:hover {
    background-color:rgb(243, 158, 30);
    color: white;
}
.button-search {
    background-color: rgb(243, 158, 30);
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.search-two {
    padding: 10px;
    border-radius: 5px;
}